<div class="sidebar" data-color="primary">

  <div class="logo">
    <a routerLink="/dashboard/overview" class="simple-text">
                    MajorDomo
                </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLink="/dashboard/overview" routerLinkActive="active">
        <a>
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
      </li>
      <li routerLink="/dashboard/users" routerLinkActive="active">
        <a>
                            <i class="material-icons">person</i>
                            <p>Users</p>
                        </a>
      </li>
      <li routerLink="/dashboard/properties" routerLinkActive="active">
        <a>
                            <i class="material-icons">content_paste</i>
                            <p>Properties</p>
                        </a>
      </li>
      <li>
        <a href="./typography.html">
                            <i class="material-icons">library_books</i>
                            <p>Settings</p>
                        </a>
      </li>
    </ul>
  </div>
</div>
