@import "../../../assets/sass/_majordomo/_varibles";
@import "../../../assets/sass/_scss/md/_colors";
.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &>div {
    padding: 60px 100px;
    background: $black;
    min-width: 400px;
    .form-control {
      width: 100%;
      color: $white;
    }
    .alert {
      display: block;
      padding: 5px;
    }
    button:not(:disabled) {
      background: $majordomo-blue;
      cursor: pointer;
    }
  }
}
