.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  &>div {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
  }
}

@media (max-width: 800px) {
  .row>div {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .row>div {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
